services:
  postgres:
    image: postgres:16       
    restart: always
    environment:
      POSTGRES_USER: ${ADMIN_USER} 
      POSTGRES_PASSWORD: ${ADMIN_PASS}
    ports:
      - "5432:5432"
    volumes:
      - jrgdata:/var/jrg
      - pgdata:/var/lib/postgresql/data
      - ./db/postgres/jrg.sql:/docker-entrypoint-initdb.d/jrg.sql

  pgadmin:
    image: dpage/pgadmin4:8
    # container_name: pgadmin
    restart: always
    depends_on:
      - postgres
    environment:
      PGADMIN_DEFAULT_EMAIL: ${ADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${ADMIN_PASS} 
      PGADMIN_DISABLE_POSTFIX: 1
      PGADMIN_LISTEN_PORT: 8081
    ports:
      - "8081:8081"
    volumes:
      - jrgdata:/var/jrg
      - pgadmin-data:/var/lib/pgadmin
      - ./db/pgadmin4/servers.json:/pgadmin4/servers.json
      - ./db/pgadmin4/pgpass.txt:/pgpass

  nicegui:
    build:
      context: ./nicegui
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    volumes:
      - jrgdata:/var/jrg 
      
volumes:
  jrgdata:
  pgdata:
  pgadmin-data:

include:
 - path: queue.yaml
 - path: cron.yaml
 - path: flow.yaml
#  - path: erp.yaml 